﻿<template>
    <aside>
        <div class="sidemenu-header">
            <p>
                <b>{{ username }}</b>
            </p>
            <p>
                {{ userrole }}
            </p>
        </div>
        <div class="sidemenu">
            <router-link to="/">Домашняя</router-link>
            <router-link to="/organizations">Организации</router-link>
        </div>
    </aside>
</template>

<script>
    import ApiClient from "../utility/api-client.vue";

    var data = {
        username: "Загрузка...",
        userrole: "" 
    };

    export default {
        mounted() {
            ApiClient.user.me()
                .then(response => {
                    this.username = response.content.name;
                    this.userrole = response.content.role;
                });
        },
        data() {
            return data;
        }
    }
</script>

<style scoped lang="less">
    aside {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #4d4d4d;
    }

    .sidemenu {
        padding: 0;
    }

    .sidemenu > a {
        display: block;
        cursor: pointer;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: white;
        border-bottom: 1px solid grey;
    }

    .sidemenu > a:hover {
        background-color: #3a3a3a;
    }

    .router-link-exact-active {
        font-weight: bold;
    }

    .sidemenu-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 120px;
        color: white;
        background-color: #f14635;
        font-size: 1.1em;
}
</style>