<template>
    <div class="app-content">
        <div class="app-left">
            <kb-sidebar></kb-sidebar>   
        </div>
        <div class="app-right">
            <div class="container">
                <router-view></router-view>
            </div>
        </div> 
    </div>
</template>

<style scoped lang="less">
    .app-left {
        position: absolute;

        left: 0;
        top: 0;
        bottom: 0;
        width: 230px;

        overflow: hidden;

        -webkit-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.75);
    }

    .app-right {
        position: absolute;

        left: 230px;
        top: 0;
        bottom: 0;
        right: 0;

        padding: 20px;

        overflow-y: scroll;
    }
</style>