﻿<template>
    <div>
        <div class="row">
            <div class="col s12 text-center">
                <h1>Организации</h1>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-8 col-xs-2-offset text-center">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Наименование или БИН организации" v-model="searchQuery" v-on:keyup.enter="search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" v-on:click="search" :disabled="isSearching === true">Поиск</button>
                    </span>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped" v-if="found">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Наименование</th>
                            <th>БИН</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="org in found" v-if="found.length">
                            <td>{{ org.Id }}</td>
                            <td>{{ org.Name }}</td>
                            <td>{{ org.Idn }}</td>
                            <td>
                                <span class="label" v-bind:class="org.StatusIsActive ? 'label-success' : 'label-danger'">{{ org.Status }}</span>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-info">
                                    Подробнее
                                </button>
                            </td>
                        </tr>
                        <tr class="text-center" v-if="!found.length">
                            <td colspan="5">
                                Не найдено
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>  

<script>
    import ApiClient from "../utility/api-client.vue";

    var data = {
        isSearching: false,
        searchQuery: "",
        found: null
    };

    export default {
        data() {
            return data;
        },
        methods: {
            search() {
                if (!this.searchQuery.length) {
                    this.found = [];
                } else {
                    this.isSearching = true;
                    ApiClient.organization.search(this.searchQuery)
                        .then(response => {
                            this.found = response.content;
                            this.isSearching = false;
                        });
                }
            }
        }
    }
</script>

<style scoped>
    td {
        vertical-align: middle !important;  
    }
</style>