﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv=""/>
    </head>
<body>
    <div id="app"></div>
    <script src="~/dist/script.js"></script>
</body>
</html>
